@import "tailwindcss";

html,
body,
#root {
  @apply h-full relative;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background-color: #05090f;
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
